<!DOCTYPE html>
<html>
  <head>
    <title>nusmodchat</title>
    <meta name="description" content="Module Telegram Groups">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>nusmodchat</h1>
      <p>A community-maintained portal to view all available telegram chats for NUS modules.</p>
    </header>
    <main>
      <section class="entries">
        <h1>Listing</h1>
        <ul id="entries"></ul>
      </section>
      <section>
        <h1>Publish</h1>
        <p>If you cannot find the module in the listing, you may create one and publish it here. Just follow these 4 simple steps:</p>
        <p>Convert your group to a supergroup.</p>
        <p>Rename the group to be in the form of "CS1231 Discussion".</p>
        <p>Add @NUSModchatBot into the chat as an administrator.</p>
        <p>Execute the /start command.</p>
      </section>
    </main>
    <footer>
      <p>Contact <a href="https://t.me/nexolute" target="_blank">@nexolute</a> for any enquiry.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
